<?xml version="1.0" ?>
<!-- 
*****************************************************************************************
*
*        =============================================
*                  HB Theme (eYRC 2023-24)
*        =============================================
*
*
*  Filename:            hb_bot.urdf.xacro
*  Created:             10th october 2023
*  Last Modified:       
*  Author:             Raj Aryan 
*  
*****************************************************************************************
-->

<robot name="hb_bot" xmlns:xacro="http://www.ros.org/wiki/xacro" >
<!-- Start of Robot Definition
Inside which we shall have all of the remaining definitions, which will end with the last line of the file: -->
    <xacro:include filename="$(find holo)/urdf/materials.xacro"/>

    <!--Base link-->
    <link name ="base_link">
        <inertial>
            <origin xyz="0 0.0 0.28" rpy="0 0 0" />
            <mass
                value="0.28" />
            <inertia
                ixx="0.011666666666667"
                ixy="0"
                ixz="0"
                iyy="0.011666666666667"
                iyz="0"
                izz="0.011666666666667" />    

        </inertial>
        <collision name="collision">
            <origin
                xyz="0 0.0 0.28"
                rpy="0 0 0" />
          
            <geometry>
                <mesh filename ="file://$(find holo)/meshes/base.dae" scale="0.01  0.01 0.01"/>
                    
            </geometry>
        </collision>
        <visual>
            <origin
                xyz="0 0 0.28"
                rpy="0 0 0" />
            <geometry>
                <mesh 
                filename ="file://$(find holo)/meshes/base.dae" scale="0.01  0.01 0.01"/>
            </geometry>
        </visual>
    </link>

    <link name ="footprint_link">
        <!-- empty link -->
    </link>

    <joint name="footprint_joint" type="fixed">
         <origin
                xyz="0.0 0.0 0.0"
                rpy="0 0 0" />
        <parent link="footprint_link"/>
        <child link="base_link"/>
    </joint>



</robot>

